* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #030d33;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    font-family: 'Karla', sans-serif;
}

.logo {
    width: 1px;
}

.barra {
    margin-right: 60px;
}

.area-aluno {
    /* border-style: ; */
    background-color: rgb(255, 255, 255);
    color:#030d33;
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow .7s linear;
}

.area-aluno:hover {
    background-color: rgb(12, 48, 78);
    transition: .3s linear;
    color: white;
}

/* ------------------------------------------------------------------------------------------ */


.primeiro {
    background-image: url(midia/technology-3.gif);
    background-size: cover;
    padding-bottom: 12%
}

.primeiro h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 170px;
}

/* ------------------------------------------------------------------------------------------ */

.segundo {
    background-color: #242481;
    /* padding-bottom: 50px; */
}

.segundo h2 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 42px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.segundo h3 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    /* text-align: center; */
}

.segundo h4 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 22px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}


.videos-sop {
    display: flex;
    justify-content: space-between;
    padding: 5vh 1vw
}

.video-sop-1 h3 {
    display: flex;
    justify-content: left;
    font-family: 'Roboto', sans-serif;    
    font-size: 26px;
    padding-bottom: 4px;
    /* margin-right: 30px; */
    margin-left: 30px;
}

.video-sop-1 h4 {
    display: flex;
    justify-content: left;
    font-family: 'Roboto', sans-serif;    
    font-size: 20px;
    padding-bottom: 4px;
    /* margin-right: 30px; */
    margin-left: 30px;
    width: 360px;
}

.video-sop-2 h3 {
    display: flex;
    justify-content: left;
    font-family: 'Roboto', sans-serif;    
    font-size: 26px;
    padding-bottom: 4px;
    /* margin-right: 30px; */
}

.video-sop-2 h4 {
    display: flex;
    justify-content: left;
    font-family: 'Roboto', sans-serif;    
    font-size: 20px;
    padding-bottom: 4px;
    /* margin-right: 30px; */
    width: 350px;
}

/* ------------------------------------------------------------------------------------------ */

.terceiro {
    background-color: #483db6;
    padding-bottom: 50px;
}

.terceiro h2 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 42px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}  

.terceiro h3 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 30px;
    /* padding-bottom: 10px; */
    padding-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    /* text-align: center; */
}

.terceiro h4 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 22px;
    padding-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    text-align: justify;
    width: 900px;
}

.img-hare-1 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.img-hare-1 img {
    margin-right: 15px;
    /* margin-bottom: 1px; */
    margin-top: -30px;
}

.img-hare-2 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.img-hare-2 img {
    margin-right: 15px;
    margin-bottom: -35px;
}

/* ------------------------------------------------------------------------------------------ */

.quarto {
    background-color: #7e50df;
}

.quarto h2 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 42px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}  

.quarto h3 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    /* text-align: center; */
}

.quarto h4 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 22px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

hr {
    border: 0;
    border-top: 1px dashed #CCC;
    color: white;
}

/* ------------------------------------------------------------------------------------------ */

.quinto {
    background-color: #9f76ed;
}

.quinto h2 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 42px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}  

.quinto h3 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    /* text-align: center; */
}

.quinto h4 {
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 22px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}